h1 {
  font-family: Indie Flower;
  font-size: 70px;
  margin: 0;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}

img {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}

.aboutchcontainer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.aboutchimage {
  align-self: flex-start;
  padding: 10px;
}

.aboutchtext {
  flex: 0 1 auto;
  padding: 0 30px;
  font-size: 25px;
  font-family: Indie Flower;
  width: 700px;
}
#bojackcolorpage {
  background-color: #c1aea1;
}

#pccolorpage {
  background-color: #efb29c;
}

#dianecolorpage {
  background-color: #75b975;
}
#mrpcolorpage {
  background-color: #d8e46e;
}
#toddcolorpage {
  background-color: #f95b38;
}

@media (max-width: 450px) {
  h1 {
    font-size: 40px;
  }

  img {
    width: 200px;
    height: 200px;
  }

  .aboutchcontainer {
    align-items: center;
    flex-direction: column;
    width: auto;
  }

  .aboutchtext {
    width: auto;
  }
}
